<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwmw.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>PRODUKTER</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1>Produkter</h1>
    <div>
        <p><a th:href="'/?page=' + ${page}">Tillbaka</a></p>
    </div>
    <div>
        <p><a th:href="'/edit/' + ${book?.id}">Ändra produkt</a></p>
    </div>
    <table>
        <tr>
            <th>Namn</th>
            <th th:text="${book?.name}"></th>
        </tr>

        <tr>
            <th>Pris</th>
            <th th:text="${book?.price}"></th>
        </tr>
    </table>

</body>
</html>