<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Books</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="santa-claus.jpg" type="image/png">
    <link rel="preconnect" href=https://fonts.googleapis.com>
    <link rel="preconnect" href=https://fonts.gstatic.com crossorigin>
    <link href=https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap rel="stylesheet">
</head>
<body>
<script src="js.js"></script>
<!-- start -->
<section id="header">

    <div id="myDIV" class="header">
        <div class="header-text">
            <h1>My Christmas Wish List</h1>
        </div>
        <p><a href="/customers">Customers</a></p>

        <a href="/add">New Book</a>

        <table style="text-align:left">
            <tr>
                <p th:text="'Logged in as: ' + ${session.username}"></p>
            </tr>
            <tr th:each="book : ${books}">
                <th><a th:href="'/book/' + ${currentPage} + '/' + ${book.id}" th:text="${book.name}"></a></th>

            </tr>
        </table>

        <input type="text" id="myInput" placeholder="Make a wish ...">

        <span onclick="newElement()" class="addBtn">Add my wish!</span>

        <div id="myULDiv">

            <ol id="myUL">

            </ol>

        </div>

    </div>
</section>
<!-- end-->
    <div>

        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

        <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
        </span>

        <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
    </div>

</body>
</html>