<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>ANVÄNDARE</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<section id="header">

    <div id="myDIV" class="header">
        <div class="header-text">
            <br>
            <br>
            <br>
            <br>
<h1>Användare</h1>

    <a href="/addCustomer">Lägg till ny användare</a>
        </div>

    <table style="text-align:left">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <th th:text="${customer.firstName}"></th>
            <th th:text="${customer.lastName}"></th>
            <th th:text="${customer.email}"></th>
        </tr>
    </table>
    </div>
</section>

</body>
</html>